/* utilities */
body{
    font-family: helvetica, sans-serif;
}
.flex_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white_btn{
    border: 1.5px solid rgba(61, 147, 253, 1);
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
/* color palette */
.bg-bluejumbo{
    background: #004AFF;
}
.bg_gradientblue{
    background: linear-gradient(180deg, #0047C5 0%, #001F9A 100%);
}
.bg_grey{
    background-color: rgba(243, 245, 249, 1);
}
.bg_footer{
    background-color: rgba(3, 28, 78, 1);
}
.text_white{
    color: white;
}
.text_trans_white{
    color: rgba(255, 255, 255, 0.50);
}
.text_lightblue{
    color: rgba(61, 147, 253, 1);
}
.text_darkblue{
    color: rgba(47, 66, 107, 1);
}
.h3_title_darkblue{
    color: rgba(5, 30, 79, 1);
}
/* /utilities */

/* header */
nav{
    height: 44.5px;
    line-height: 44.5px;
    vertical-align: middle;
    font-size: 12px;
}
nav img{
    width: 100px;
    padding-top: 10px;
}
.no_style_right{
    list-style: none;
    text-align: right;
}
.no_style_left{
    list-style: none;
    text-align: left;
}
.no_decor{
    text-decoration: none;
}
.no_style_left li,
.no_style_right li{
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 2.5px;
}
.no_style_right li:last-child{
    padding-right: 0;
}

/* jumbotron */
.jumbotron{
    background-image: url(/assets/img/bg-banner-home.jpg);
}
.white_container{
    background-color: white;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}
.form{
    width: 90%;
    border: 1px solid;
    border-color: rgba(122, 122, 122, 0.5);
    border-radius: 5px;
    padding: 8px 5px;   
}
.google_btn{
    position: relative;
}
.log_btn,
.google_btn {
    width: 90%;
    border: transparent;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    padding: 5px;
}
.log_btn {
    background-color: rgba(87, 154, 255, 1);
}
.google_btn{
    box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.561);
}

.google_btn img{
    height: 20px;
    text-align: right;
    padding-left: 5px;
    position: absolute;
    top: 20%;
    left: 2%;
}



/* /header */
